@import '~@angular/material/theming';

@include mat-core();

.mat-dialog-container {
  border-radius: 1px !important;
  padding: 0 !important;
  width: auto;
}

.mat-vertical-stepper-header{
  height: 2px;
}
.mat-step-text-label {
  color: #00245A;
  border: transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-align: center;
}


.mat-progress-bar{
  padding: 0;
  margin: 0;
  height: 2px!important;
}

[_nghost-c5] {
  color: #00245a;
  display: inline-block !important;
  width: 100%;
}

button:focus {outline:0 !important;}

.mat-tab mat-tab-label-ripple .mat-ripple-container {
  background-color: rgba(56,32,73,.1);
}

.mat-tab-label .mat-ripple {
  background: #6a2d94;
  border-color: #6a2d94;
}

.mat-tab-link-active{
  background: #fdca96;
  color: #00245A;
  font-size: 19px;
  font-weight: bolder;
}
.mat-tab-label-active {
  background: #fdca96;
  color: #00245A;
  font-size: 19px;
  font-weight: bolder;
}
.mat-tab-link{
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
  color: #00245A;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 50px !important;
  height: 35px !important;
  min-width: 100px !important;

}
.mat-tab-label {
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
  color: #00245A;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 50px !important;
  height: 35px !important;
  min-width: 100px !important;

}
.tabContentContainer {
  color: #00245A;
  background: #fdca96;
}

.mat-toolbar {
  background: white;
}

$mat-notes-blue: (
  50: #e0e5eb,
  100: #b3bdce,
  200: #8092ad,
  300: #4d668c,
  400: #264573,
  500: #00245a,
  600: #002052,
  700: #001b48,
  800: #00163f,
  900: #000d2e,
  A100: #677fff,
  A200: #3455ff,
  A400: #012aff,
  A700: #0025e6,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);


$mat-notes-pink: (
  50 : #fffbf7,
  100: #fff5eb,
  200: #ffefdd,
  300: #fee9cf,
  400: #fee4c5,
  500: #fedfbb,
  600: #fedbb5,
  700: #fed7ac,
  800: #fed2a4,
  900: #fdca96,
  A100: #fdca96,
  A200: #fdca96,
  A400: #fdca96,
  A700: #fdca96,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$mat-notes-warn: (
  50: #fce4f0,
  100: #f9bbda,
  200: #f58ec2,
  300: #f061a9,
  400: #ed3f96,
  500: #ea1d84,
  600: #e71a7c,
  700: #e41571,
  800: #e11167,
  900: #db0a54,
  A100: #ffffff,
  A200: #ffd2e0,
  A400: #ff9fbd,
  A700: #ff85ab,

  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);


$notes-app-primary: mat-palette($mat-notes-blue);
$notes-app-accent:  mat-palette($mat-notes-pink, A200, A100, A400);
$notes-app-warn:    mat-palette($mat-notes-warn);

$notes-app-theme: mat-light-theme($notes-app-primary, $notes-app-accent, $notes-app-warn);

@include angular-material-theme($notes-app-theme);
